<p>apartment-create works!</p>
<div class="container">
    <div class="bg-white border rounded shadow-sm overflow-hidden p-3 col-lg-12">
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" [(ngModel)]="apt.price" class="form-control">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" [(ngModel)]="apt.image" class="form-control">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text" [(ngModel)]="apt.description" class="form-control">
            </div>
            <div class="mb-3">
                <label for="locationName" class="form-label">Location Name</label>
                <input type="text" [(ngModel)]="apt.location.name" class="form-control">
            </div>

            <button (click)="submit()" class="btn btn-primary">Submit</button>
    </div>
</div>
