<p>login works!</p>
<div class="container">
    <div class="bg-white border rounded shadow-sm overflow-hidden p-3 col-lg-12">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" [(ngModel)]="login.username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" [(ngModel)]="login.password" class="form-control">
            </div>
            <button (click)="submit()" class="btn btn-primary">Submit</button>
    </div>
</div>
